body {
background-color: #000000;

}

nav {
    width: 100%;
    position: fixed;
    bottom: 0;
    padding-bottom: 4%;
    
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center; 
  }

  nav li {
    width: 20%;
  }

  nav img {
    max-width: 35%;
    opacity: 0.5;
    max-height: 35px;
  }

  nav a.selected img {
    opacity: 1;
  }

  h1 {
    font-family: 'Inter', sans-serif;
    color: #fff;
  }

  p, h3 {
    font-family: 'Inter', sans-serif;
    color: #fff;
  }


  #video-container {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right:0;
  }

  #videoElement {
    height: 100%;
  }

  .page-content {
    width: 100%; 
    height: 90%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden; 
    background-color: rgb(20, 20, 20);
    border-radius: 0 0 27px 27px;
  }

  .welcome-content {
    width: 100%; 
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    overflow: hidden; 
    background-color: #058ED9;
    text-align: center;
    animation: morph 20s infinite;
  }

  
  @keyframes morph {
    0% { background-color: #7E3AF9; }
    33% { background-color: #058ED9; }
    66% { background-color: #44BBA4; }
  } 


  
  .branding {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10%;
  }
  

  .click-me {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
  }

  .about {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 900;
    font-size: small;
    opacity: .5;
  }


  #record-video {
    opacity: .5;
    border-radius: 50%; /* Make the border radius 50% to create a circle */
    width: 70px; /* Set the width and height to the same value to create a perfect circle */
    height: 70px;
    background-color: rgb(255, 255, 255); /* Add a background color */
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 3%;
  }


  .page-content-title {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 28px;
    color: white;
    padding-left: 30px;
    padding-top: 40px;
    z-index: 1;
  }

  .right-menu {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 28px;
    color: white;
    padding-right: 30px;
    padding-top: 65px;
    width: 28px;
    height: auto;
    opacity: .75;
    z-index: 1;
  }

  .page-content-logo {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    padding-left: 30px;
    padding-top: 65px;
    width: 40px;
    height: auto;
    opacity: 1;
    z-index: 1;
  }

  .page-content-filter {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    padding-right: 30px;
    padding-top: 75px;
    width: 25px;
    height: auto;
    opacity: .75;
    z-index: 1;
  }


  .page-content-AR-filter {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    padding-right: 30px;
    padding-top: 65px;
    width: 35px;
    height: auto;
    opacity: 1;
    z-index: 1;
  }
  
  